body{
	background: #141d4b;
	/*background-image: url("../images/software_dev.jpg");*/
	background-repeat: repeat-x;
}

/* #wrap {
		width: 80%;
		margin: 0px auto 15px auto;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		color : #F5F5DC
		}
 */
/* Header */

#header {
		height: 242px;
		margin: 0px auto 15px auto;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		color : #A52A2A
		}
		

#topmenu {
  display:block;
  list-style:none;
  padding:0 auto;
  float: right;
  width: 100%;
  background-color:#232d9b;
  position:fixed;
}

		
#topmenu li {
  display:inline;
  
}

#topmenu a {
  display:block;
  float:left;
  height:28px;
  margin:0px 0px 0px 0px;
  text-decoration:none;
  padding:9px 15px 0px 15px;
  text-align:center;
}

#topmenu a, #topmenu a:visited, #topmenu a:active {
  color:#BBBBBB;
}

#topmenu a:hover{
  color:#FFFFFF;
  background-color: #000000;
}

#topmenu .active a, #topmenu .active a:visited, #topmenu .active a:active{
  color:#BBBBBB;
  background-color:#333dbb;
}

#content {
	background-color: #FFC0CB;
}
#mainpage {
	width:90%;
	padding:0 5% 0;
	height:auto
	
}
#mainpage p {
	line-height:22px;
	margin:10px 0px 22px 0px;
	text-align: justify;
	color: #FFFFFF;
}
#mainpage a:visited{
	color:#FFFFFF;
}
#mainpage blockquote {
	background:#efefef;
	display:block; 
	margin:5px;
	font:Georgia; 
	font-style:italic;}
h1, h2, h3, h4, h5 {
	color:#000000;
	font-weight:bold;
	font-family: Georgia;
}
#mainpage h1 {
	font-size:30px;
	color: #FFFFFF;
}
#mainpage h2 {
	font-size:20px;
	padding-top: 20px;
	padding-bottom: 5px;
	border-bottom: 1px solid #FFFFFF;
	color: #FFFFFF;
}
#mainpage h3 {
	font-size:20px;
color: #FFFFFF;}

#mainpage h4 {
	font-size:18px;
	color: #FFFFFF;}
	
#mainpage h5 {
	font-size:16px;
	color: #FFFFFF;}

/*footer*/
#footer {
	margin:0 auto;
	width:685px;
	height:20px;
	padding:10px;
	color:#FFFFFF;
	text-align: center;
	font-family: Georgia;
	font-size: 11px;
	clear: both;
}

#topbar{
	height:50px;
}

table {
    font-family: arial, sans-serif;
	color: #000000;
    border-collapse: collapse;
    width: 100%;
	font-weight: bold;
}

td, th {
    border: 2px solid #111111;
	background-color: #fff000;
    text-align: left;
    padding: 8px;
}

form {
	color: #FFFFFF;
}

form input {
	padding-bottom: 2px;
}